DJANGO_SETTINGS_MODULE=config.settings.production
DEBUG=False
SECRET_KEY=REPLACE_WITH_RANDOM_SECRET_OF_AT_LEAST_50_CHARACTERS
ALLOWED_HOSTS=gramaswaraj.in
PUBLIC_BASE_URL=https://gramaswaraj.in
CSRF_TRUSTED_ORIGINS=https://gramaswaraj.in
DATABASE_URL=postgres://gmfms_owner:REPLACE_WITH_URL_ENCODED_OWNER_PASSWORD@database:5432/gmfms
MEDIA_ROOT=/data/private_media
STATIC_ROOT=/app/staticfiles
TRUST_PROXY_SSL_HEADER=True
TRUSTED_PROXY_CIDRS=172.30.80.1/32,127.0.0.1/32,::1/128
FORWARDED_ALLOW_IPS=172.30.80.1,127.0.0.1,::1
SESSION_COOKIE_AGE=1800
EMAIL_HOST=REPLACE_SMTP_HOST
EMAIL_PORT=587
EMAIL_HOST_USER=REPLACE_SMTP_USER
EMAIL_HOST_PASSWORD=REPLACE_SMTP_PASSWORD
EMAIL_USE_TLS=True
DEFAULT_FROM_EMAIL=Gramaswaraj <noreply@gramaswaraj.in>
WEB_CONCURRENCY=2
